{% extends 'base.html' %}
{% block content %}
<div class="center-block" style="text-align: center; display: block; margin: auto; width: 700px; margin-top: 60px">
    <h4>Письмо активации аккаунта отправлено вам на почту</h4>
    <h4>Пожалуйста, активируйте аккаунт</h4>
    <div class="col-md-20 text-center">
    <button class="btn btn-dark" style="margin-top: 50px; width: 200px">
        <a href="https://www.{{ domain }}" style="color:white">Перейти на почту</a></button>
    </div>
</div>
{% endblock content %}