{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="center-block">
    <div class="card bg-light border-info mb-3">
        <div class="card-header border-info">Інформація про аккаунт</div>
        <div class="card-body">
            <p class="card-text">Ім'я користувача: {{ user.username }}</p>
            <p class="card-text">Електронна пошта: {{ user.email }}</p>
            <p class="card-text">Ім'я: {{ user.first_name }}</p>
            <p class="card-text">Прізвище: {{ user.last_name }}</p>
            <p class="card-text">Номер мобільного телефону: {{ user.userprofile.mobile_phone }}</p>
            <p class="card-text">Номер рабочого телефону: {{ user.userprofile.work_phone }}</p>
            <p class="card-text">Додаткова електронна пошта: {{ user.userprofile.email2 }}</p>
        </div>
    </div>
    <div>
        <h2 class="title">Змінити свої дані: </h2>
            <form method="POST" action="{% url 'insurance_app:add_company' %}">
                {% csrf_token %}
                {{ form1.as_table }}
                {{ form2.as_table }}
                <button id='save' type="submit" class="btn btn-dark">Зберегти</button>
            </form>
    </div>
    <div id='add_company'>
        <h4 class="title is-3">Вкажіть компанію, яку ви хочете додати:</h4>
        <p>(Адміністратору буде відправлено запит на додавання компанії)</p>
        <form method="POST" action="{% url 'insurance_app:add_chosen_company' %}">
            {% csrf_token %}
            {{ form3.as_table }}
            <button type="submit" class="btn btn-dark" id="add">Додати</button>
         </form>
    </div>
    <div id='delete_company' style="margin-top: 25px">
        <h4 class="title is-3">Вкажіть компанію, яку ви хочете видалити:</h4>
        <p>(Адміністратору буде відправлено запит на видалення компанії)</p>
        <form method="POST" action="{% url 'insurance_app:delete_chosen_company' %}">
            {% csrf_token %}
            {{ form4.as_table }}
            <button type="submit" class="btn btn-dark" id="delete">Видалити</button>
         </form>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2({width: '100%'});
});
</script>
<style>
@media screen and (orientation: portrait){
    .center-block{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 10%;
    }
    #add_company{
    margin-top: 5%
    }
    #delete_company{
    margin-top: 5%
    }
    #save{
    margin-top: 5%
    }
    #add{
    margin-top: 5%
    }
    #delete{
    margin-top: 5%
    }
}
@media screen and (orientation: landscape){
    .center-block{
    display: block;
    margin: auto;
    width: 85%;
    margin-top: 5%;
    }
    #add_company{
    margin-top: 3%
    }
    #delete_company{
    margin-top: 3%
    }
    #save{
    margin-top: 3%
    }
    #add{
    margin-top: 3%
    }
    #delete{
    margin-top: 3%
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 45%;
    margin-top: 3%;
    }
    #add_company{
    margin-top: 3%
    }
    #delete_company{
    margin-top: 3%
    }
    #save{
    margin-top: 3%
    }
    #add{
    margin-top: 3%
    }
    #delete{
    margin-top: 3%
    }
}
.card{
    width: 100%;
    }
.card .card-header {
    font-weight:bold
}
.select2-container .select2-selection--single {
    height: 37px;
    border: 1px solid #d5d7db;
}
.errorlist {
    color: red
}
.helptext{
    color: #2211a8;
}
</style>
{% else %}
Ви не зареєстровані або не увійшли в аккаунт
{% endif %}
{% endblock content %}