{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="center-block" style=" display: block; margin: auto; width: 700px; margin-top: 60px">
    <h2 style="text-align: center;">Добавьте дополнительную <br>информацию</h2>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="col-md-20 text-center">
    <button type="submit" class="btn btn-dark" style="margin-top: 20px; width: 100px">Добавить</button>
    </div>
</form>
</div>
{% else %}
Ви не зареєстровані
{% endif %}
{% endblock content %}