{% extends 'base.html' %}
{% block content %}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script>
$(document).ready(function () {
        $('.js-example-basic-single').select2();
        $(select_first).change(function() {
            var choice_id=this.value;
            console.log(choice_id);
                $(add).bind("click", function(){
                console.log(choice_id);
                        $.ajax({
                            type:"POST",
                            data: {'choice_id':choice_id, 'action':'add'},
                            url: 'add_chosen_company/',
                            success: function(){$(ok_add).text('Добавлено')}
                            });
                        });
                    });
        $(select_second).change(function() {
            var choice_id=this.value;
            console.log(choice_id);
                $(delete_company).bind("click", function(){
                console.log(choice_id);
                        $.ajax({
                            type:"POST",
                            data: {'choice_id':choice_id, 'action':'delete'},
                            url: 'add_chosen_company/',
                            success: function(){$(ok_delete).text('Удалено')}
                            });
                        });
                    });

                });
</script>

{% if user.is_authenticated %}
<div class="wrapper">
    <div>
        <h2 class="title">Змінити свої дані: </h2>
            <form method="POST" action="{% url 'insurance_app:add_company' %}">
                {% csrf_token %}
                {{ form1.as_table }}
                {{ form2.as_table }}
                <button type="submit" class="btn btn-dark" style="margin-top: 20px">Зберегти</button>
            </form>
        <div style="margin-top: 50px">
            <h4 class="title is-3">Вкажіть компанію, яку ви хочете додати:</h4>
            <p>(Адміністратору буде відправлено запит на додавання компанії)</p>
            <form method="POST" action="{% url 'insurance_app:add_chosen_company' %}">
                {% csrf_token %}
                {{ form3.as_table }}
                <p style="color: blue; height: 15px">*поля окрім компанії необовязкові і будуть заповнені автоматично, якщо ви нічого не вкажете</p>
                <button type="submit" class="btn btn-dark" id="add" style="margin-top: 20px">Додати</button>
             </form>
        </div>
        <div style="margin-top: 25px">
            <h4 class="title is-3">Укажіть компанію, яку ви хочете видалити:</h4>
            <p>(Адміністратору буде відправлено запит на додавання компанії)</p>
            <form method="POST" action="{% url 'insurance_app:delete_chosen_company' %}">
                {% csrf_token %}
                {{ form4.as_table }}
                <button type="submit" class="btn btn-dark" id="delete" style="margin-top: 20px">Видалити</button>
             </form>
        </div>
    </div>
    <div>
        <div class="card bg-light mb-3" style="width: 40rem; margin-left: 100px; margin-top: 20px">
             <div class="card-header" style="font-weight:bold">Інформація про аккаунт</div>
            <div class="card-body">
            <p class="card-text">Ім'я користувача: {{ user.username }}</p>
            <p class="card-text">Електронна пошта: {{ user.email }}</p>
            <p class="card-text">Ім'я: {{ user.first_name }}</p>
            <p class="card-text">Прізвище: {{ user.last_name }}</p>
            <p class="card-text">Номер мобільного телефону: {{ user.userprofile.mobile_phone }}</p>
            <p class="card-text">Номер рабочого телефону: {{ user.userprofile.work_phone }}</p>
            <p class="card-text">Додаткова електронна пошта: {{ user.userprofile.email2 }}</p>
            <p class="card-text">Компанії:</p>
            {% for company in user_companies %}
            {{ company.company.IAN_FULL_NAME }}<br>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<style>
.wrapper {
    display: grid;
    grid-template-columns: 650px 650px;
    margin-left: 20px;
    margin-top: 30px;
}
</style>
{% else %}
Ви не зареєстровані або не увійшли в аккаунт
{% endif %}
{% endblock content %}