{% extends 'base.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#auto-fill").bind("click", function(){
            console.log(document.getElementById('id_number').value);
            $.ajax({
                type:"POST",
                url: 'auto_fill/',
                data: {
                    number: document.getElementById('id_number').value,
                },
                success: function(data){
                    for (var i of Object.keys(data.context)) {
                    console.log(typeof data.context[i]);
                        $("#id_"+i).val(data.context[i]);
                    }
                },
                error: function() {
                    $("#auto-error").text('Введіть правильний номер машини');
                }
            });
        });
    });
</script>
<div class="center-block">
    <h2>Автоцивілка</h2>
    <div class='auto-button'>
        <button id="auto-fill" class="btn btn-dark">Автозаповнення по номеру машини</button>
    </div>
    <div class='auto-text'>
        <h5 id="auto-error"></h5>
    </div>

<form method="post" action="{% url 'insurance_app:add_userprofile' %}">
    {% csrf_token %}
    {{ form }}
    <div class="col-md-20 text-center">
    <button id ="buy" type="submit" class="btn btn-dark">Купити</button>
    </div>
</form>
</div>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 6%;
    }
    .auto-button #auto-fill{
    margin-top: 2%;
    width: 100%
    }
    .auto-text{
    margin-top: 2%;
    }
    .text-center #buy{
    margin-top: 2%;
    width: 30%
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 6%;
    }
    .auto-button #auto-fill{
    margin-top: 2%;
    width: 50%
    }
    .auto-text{
    margin-top: 2%;
    }
    .text-center #buy{
    margin-top: 2%;
    width: 20%
    }

}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 45%;
    margin-top: 3%;
    }
    .center-block h2{
    text-align: center;
    }
    .auto-button{
    display:inline-block;
    }
    .auto-button #auto-fill{
    margin-top: 2%;
    width: 100%
    }
    .auto-text{
    display:inline-block;
    margin-left: 2%;
    }
    .text-center #buy{
    margin-top: 1%;
    width: 15%
    }
}
.center-block h2{
    text-align: center;
}
.auto-text #auto-error{
    color: red;
}
.errorlist {
    color: red
}
.helptext{
    color: #2211a8;
}
</style>
{% endblock content %}