{% extends "base.html" %}
{% block content %}
    <div class="col-12 text-center py-5">
         <h2>У вас поки не додано ні однієї компаній.</h2>
             <h5>Алгоритм додавання компанії:<br>
                1) Натисніть на вкладку "Компанія" на навігаційній панелі та оберіть вкладку "Додати/видалити компанію".<br>
                У пункті "Вкажіть компанію, яку ви хочете додати:" оберіть потрібну Вам компанію.<br>
                2) Якщо ви вже додали компанію, то вона зявиться у вкладці "Змінити компанію",<br>
                коли адміністратор сайту підтвердить її.</h5>
    </div>
{% endblock %}