{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

{% if companies %}
<div class="table-div" style="margin-left:5px; margin-top:25px;">
<table id="table-id" class="display nowrap dataTable dtr-inline collapsed " data-page-length='10' style="width:100%">
    <thead>
                        <tr >
                            <th id="ID">ID</th>
                            <th id="IAN_FULL_NAME">Найменування</th>
                            <th id="FIN_TYPE">Тип ФУ</th>
                            <th id="IM_NUMIDENT">Код ЄДРПОУ</th>
                            <th id="IAN_RO_SERIA">Серія свідоцтва<br />про реєстрацію </th>
                            <th id="IAN_RO_CODE">Номер свідоцтва<br />про реєстрацію </th>
                            <th id="IAN_RO_DT">Дата реєстрації</th>
                            <th id="DIC_NAME">Статус</th>
                            <th id="F_ADR">Адреса</th>
                            <th id="IA_PHONE_CODE">Міжміський<br />телефонний<br />код</th>
                            <th id="IA_PHONE">Телефон</th>
                            <th id="IA_EMAIL">E-mail</th>
                            <th id="IND_OBL">Область</th>
                            <th id="K_NAME">ПІБ керівника</th>
                            <th id="abbreviation">Неповна назва</th>
                            <th id="position">Посада керівника</th>
                            <th id="update_date">Дата оновлення</th>
                            <th id="changes">Зміни</th>
                        </tr>
                        </thead>
    <tbody>
  {% for company in companies %}

  <tr>
                        <td headers="ID" >{{ company.id }}</td>
                        <td headers="IAN_FULL_NAME" >{{ company.IAN_FULL_NAME }}</td>
                        <td headers="FIN_TYPE" >{{ company.FIN_TYPE }}</td>
                        <td headers="IM_NUMIDENT" >{{ company.IM_NUMIDENT }}</td>
                        <td headers="IAN_RO_SERIA" >{{ company.IAN_RO_SERIA }}</td>
                        <td headers="IAN_RO_CODE" >{{ company.IAN_RO_CODE }}</td>
                        <td headers="IAN_RO_DT" >{{ company.IAN_RO_DT }}</td>
                        <td headers="DIC_NAME" >{{ company.DIC_NAME }}</td>
                        <td headers="F_ADR" >{{ company.F_ADR }}</td>
                        <td headers="IA_PHONE_CODE" >{{ company.IA_PHONE_CODE }}</td>
                        <td headers="IA_PHONE" >{{ company.IA_PHONE }}</td>
                        <td headers="IA_EMAIL" >{{ company.IA_EMAIL }}</td>
                        <td headers="IND_OBL" >{{ company.IND_OBL }}</td>
                        <td headers="K_NAME">{{ company.K_NAME }}</td>
                        <td headers="abbreviation">{{ company.abbreviation }}</td>
                        <td headers="position">{{ company.position }}</td>
                        <td headers="update_date">{{ company.update_date }}</td>
                        <td headers="changes">{{ company.changes }}</td>
  </tr>
  {% endfor %}
    <tbody>
</table>
</div>
<script>
    $('#table-id').DataTable({
    "scrollX": true });
</script>
{% else %}
    <p>No companies are available.</p>
{% endif %}
{% endblock content %}