{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
<div class="center-block">
    <div class="form-div">
        <h2>Вхід</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-20 text-center">
            <button id ='enter' type="submit" class="btn btn-dark">Увійти</button>
            <a href="{% url 'insurance_app:password_reset' %}">
                <button id='forgot-password' type="button" class="btn btn-dark"> Забув пароль</button>
            </a>
        </div>
    </form>
        </div>
</div>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .form-div{
    width:90%
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 5%;
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 45%;
    margin-top: 9%;
    }
}
.center-block h2{
    text-align: center;
}
.errorlist {
    color: red
}
</style>
{% else %}
Ви вже увійшли в аккаунт
{% endif %}
{% endblock %}