{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not user.is_authenticated %}
<div class="center-block" style="display: block; margin: auto; width: 700px; margin-top: 100px">
    <h2 style="text-align: center">Вхід</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if login_error %}
                {{ login_error }}
            {% endif %}
        {% endfor %}
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark" style="margin-top: 20px; width: 100px">Увійти</button>
            <a href="{% url 'insurance_app:password_reset' %}">
                <button type="button" class="btn btn-dark" style="margin-top: 20px; width: 130px"> Забув пароль</button>
            </a>
        </div>
    </form>
</div>
{% else %}
Ви все увійшли в аккаунт
{% endif %}
{% endblock %}