{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="center-block">
    {% if user_orders %}
    <h2>Історія замовлень:</h2>
    {% for order in user_orders %}
    <div class="box">
        <div>
            <p id='order' class="text-info">Замовлення {{order.id}}:
            {% if order.done %}
            Виконано
            {% else %}
            Не виконано
            {% endif %}</p>
            Компанія: {{order.company_info.IAN_FULL_NAME}}<br>
            Звітня дата: {{order.reporting_date}}<br>
            Вид розрахунку: {{order.calc_type}}<br>
            Дата замовлення: {{order.order_date}}
            <p></p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    У вас поки немає замовлень
    {% endif %}
</div>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 5%;
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 3%;
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 50%;
    margin-top: 2%;
    }
}
.center-block h2{
    text-align: center;
}
#order{
    font-size: 15pt
}
#load_order{
    font-size: 12pt;
    text-align:right;
}
</style>
{% else %}
Ви не зареєстровані
{% endif %}
{% endblock content %}