{% extends 'base.html' %}
{% block content %}
{% if session_company %}
{% if order != None %}
<div id="order_session_company">
    <h4>Замовлення буде зроблене для компанії: <br>{{session_company.IAN_FULL_NAME}}</h4>
</div>
<div class="center-block">
    <div class="one">
        {% if user_orders_offered and user_orders %}
        <p class="text-secondary">Ви можете замовити:</p>
        {% if user_orders_offered3 %}
        {% for order in user_orders_offered3 %}
        <div class="one-text">
            <a href="{% url 'insurance_app:reject_order' order.id %}"><img id='reject' src="/static/media/dis.png" title="Видалити"></a>
            Компанія: {{order.company_info.IAN_FULL_NAME}}<br>
                Звітня дата: {{order.reporting_date}}<br>
                Вид розрахунку: {{order.calc_type}}
            <a href="{% url 'insurance_app:order' order.id %}">
                <p id="load_order">Завантажити в розрахунки</p>
            </a>
        </div>
        {% endfor %}
        <a href="{% url 'insurance_app:order_offered' %}">Дивитися всі пропозиції</a>
        {% else %}
        {% for order in user_orders_offered %}
        <div class="one-text">
            <a href="{% url 'insurance_app:reject_order' order.id %}"><img id='reject' src="/static/media/dis.png" title="Видалити"></a>
            Компанія: {{order.company_info.IAN_FULL_NAME}}<br>
                Звітня дата: {{order.reporting_date}}<br>
                Вид розрахунку: {{order.calc_type}}
            <a href="{% url 'insurance_app:order' order.id %}">
                <p id="load_order">Завантажити в розрахунки</p>
            </a>
        </div>
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>
    <div class="two form-div">
    <h4>Зробити замовлення</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-20 text-center">
            <button id ='enter' type="submit" class="btn btn-dark">Замовити</button>
        </div>
    </form>
    </div>
    <div class="three">
        <a href="{% url 'insurance_app:order_history'%}">
        <h5 class="text-info">Історія замовлень</h5>
        </a>
    </div>
</div>
{% else %}
<div class="col-12 text-center py-5">
            <h5>Ви не маєте такого замовлення або це замовлення не для цієї компанії</h5>
      </div>
{% endif %}
{% else %}
<div class="col-12 text-center py-5">
            <h5>Ви не обрали компанію для того, щоб здійснити замовлення. <br>Будь ласка зайдіть у вкладку
            "Компанія" -> "Змінити компанію" на навігаційній панелі та оберіть її. <br>Якщо ж у цій вкладці немає компаній, то:<br>
                1) Натисніть на вкладку "Компанія" на навігаційній панелі та оберіть вкладку "Додати/видалити компанію".<br>
                У пункті "Вкажіть компанію, яку ви хочете додати:" оберіть потрібну Вам компанію.<br>
                2) Якщо ви вже додали компанію, то вона зявиться у вкладці "Змінити компанію",<br>
                коли адміністратор сайту підтвердить її.</h5>
      </div>
{% endif %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2({width: '100%'});
});
</script>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .form-div{
    width:90%
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 5%;
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display:flex;
    margin: auto;
    width: 100%;
    margin-top: 4%;
    }
    .two h4{text-align:center}
    .two{width:46%;margin:20px}
    .one,.three{width:22%;margin:40px}
}
}
.center-block h2{
    text-align: center;
}
.one .one-text {font-size:16px;text-align:left}
.one .text-secondary {font-size:20px;text-align:center}
.three h5 {font-size:20px;text-align:center}

.errorlist {
    color: red
}
.select2-container .select2-selection--single {
    height: 37px;
    border: 1px solid #d5d7db;
}
#load_order{
    font-size: 12pt;
    text-align:right;
}
#reject{
 height:20px
 }
#img-show{
 height:7px;
 margin-left:2px;
 }
#order-error {
 color:red
 }
#order_session_company{
    margin-top:35px;
    text-align:center;
}
.text-danger{
    font-size:14pt;
}
.text-success{
    font-size:14pt;
}
</style>
{% endblock content %}