{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class='center-block' style="display: block; margin: auto; width: 600px; margin-top: 60px">
        <h2 style="text-align: center">Змінити пароль</h2>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark" style="width: 100px">Змінити</button>
        <a href="{% url 'insurance_app:password_reset' %}">
                <button type="button" class="btn btn-dark" style=" width: 130px"> Забув пароль</button>
        </a>
        </div>
        </form>
</div>
<style>
    .errorlist {
    color: red
    }
    .help-text{
    color: #2211a8;
    }
</style>
{% else %}
Ви не увійшли в аккаунт
{% endif %}
{% endblock %}