{% extends "base.html" %}
{% block content %}
<div class='center-block'>
        {% if validlink %}
        <h2>Встановити новий пароль</h2>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark">Встановити</button>
        </div>
        </form>
        {% else %}
    <div class='center-block'>
        <div class="col-md-20 text-center">
            <h3>Це посилання для скидання пароля недійсне,<br>
                можливо через те, що воно вже було використано.<br> Будь ласка запросіть нове посилання для скидання паролю</h3>
        </div>
    </div>
        {% endif %}
</div>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 10%;
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 3%;
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 45%;
    margin-top: 5%;
    }
}
.center-block h2{
    text-align: center;
}
.errorlist {
    color: red
}
.helptext{
    color: #2211a8;
}
ul li {
    color:#2211a8
}
</style>
{% endblock %}