{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class='center-block'>
    <h2>Змінити пароль</h2>
    <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark">Змінити</button>
            <a href="{% url 'insurance_app:password_reset' %}">
                <button type="button" class="btn btn-dark"> Забув пароль</button>
            </a>
        </div>
    </form>
</div>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 5%;
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 3%;
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 45%;
    margin-top: 5%;
    }
}
.center-block h2{
    text-align: center;
}
.errorlist {
    color: red
}
.helptext{
    color: #2211a8;
}
ul li {
    color:#2211a8
}
</style>
{% else %}
Ви не увійшли в аккаунт
{% endif %}
{% endblock %}