{% extends "base.html" %}
{% block content %}
<div class='center-block' style="display: block; margin: auto; width: 600px; margin-top: 130px">
        <h2 style="text-align: center">Скинути пароль</h2>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark" style="width: 100px">Скинути</button>
        </div>
        </form>
</div>
<style>
    .errorlist {
    color: red
    }
</style>
{% endblock %}