{% extends "base.html" %}
{% block content %}
<div class='center-block'>
    <div class="form-div">
        <h2 style="text-align: center">Скинути пароль</h2>
    <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark">Скинути</button>
        </div>
    </form>
    </div>
</div>
<style>
@media screen and (orientation: portrait) {
    .center-block{
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .form-div{
    width:90%
    }
}
@media screen and (orientation: landscape) {
    .center-block{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 10%;
    }
}
@media screen and (min-width: 1025px) {
    .center-block{
    display: block;
    margin: auto;
    width: 45%;
    margin-top: 10%;
    }
}
.center-block h2{
    text-align: center;
}
.errorlist {
    color: red
}
</style>
{% endblock %}