{% extends "base.html" %}
{% block content %}
<div class='center-block' style="display: block; margin: auto; width: 700px; margin-top: 90px">
        {% if validlink %}
        <h2 style="text-align: center">Встановити новий пароль</h2>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark" style="width: 110px">Встановити</button>
        </div>
        </form>
        {% else %}
    <div class='center-block' style="display: block; margin: auto; width: 700px; margin-top: 200px">
        <div class="col-md-20 text-center">
            <h3>Це посилання для скидання пароля недійсне,<br>
                можливо через те, що воно вже було використано.<br> Будь ласка запросіть нове посилання для скидання паролю</h3>
        </div>
    </div>
        {% endif %}
</div>
<style>
    .errorlist {
    color: red
    }
    .help-text{
    color: #2211a8;
    }
</style>
{% endblock %}