{% extends 'base.html' %}
{% block content %}

<div class="center-block" style="display: block; margin: auto; width: 700px; margin-top: 60px">
    <h2 style="text-align: center">Реєстрація</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form1 %}
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark" style="margin-top: 20px; width: 200px">Зареєструватися</button>
        </div>
    </form>
</div>
{% endblock %}