{% extends 'base.html' %}
{% block content %}
{% if not user.is_authenticated %}
<div class="center-block" style="display: block; margin: auto; width: 700px; margin-top: 60px">
    <h2 style="text-align: center">Реєстрація</h2>
    <form method="post">
        {% csrf_token %}
        {{ form1.as_p }}
        <div class="col-md-20 text-center">
            <button type="submit" class="btn btn-dark" style="margin-top: 20px; width: 200px">Зареєструватися</button>
        </div>
    </form>
</div>
<style>
    .errorlist {
    color: red
    }
    .helptext{
    color: #2211a8;
    }
</style>
{% else %}
Ви все увійшли в аккаунт
{% endif %}
{% endblock %}