<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>InsuranceSite</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/style_base.css" type="text/css"/>
  <link  rel="shortcut icon" type="image/png" href="/static/media/favicon.ico"/>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'insurance_app:index' %}" >Страхування</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'insurance_app:index' %}">Головна</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'insurance_app:auto_insurance' %}">Автоцивілка</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item" style="display: inline-block">
        <div class="btn-group" style="display: inline-block">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Компанія</button>
        <div class="dropdown-menu dropdown-menu-left">
        <a class="dropdown-item" href="{% url 'insurance_app:add_company' %}">Додати/видалити компанію</a>
        <a class="dropdown-item" href="{% url 'insurance_app:company_list' %}">Змінити компанію</a>
        <a class="dropdown-item" href="#">Завантаження</a>
        {% if request.session.company_IM_NUMIDENT %}
          <a class="dropdown-item" href="{% url 'insurance_app:documents' request.session.company_IM_NUMIDENT %}">Документи</a>
          <a class="dropdown-item" href="{% url 'insurance_app:order' 0 %}">Замовити розрахунок</a>
          <a class="dropdown-item" href="{% url 'insurance_app:company_detail' request.session.company_IM_NUMIDENT %}">Детальніше про компанію</a>
        {% endif %}
        </div>
      </div>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
    {% if user.is_authenticated %}
    <li class="nav-item">
      <div class="btn-group" style="display: inline-block">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</button>
        <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{% url 'insurance_app:user_page' %}">Аккаунт</a>
        <a class="dropdown-item" href="{% url 'insurance_app:password_change' %}">Змінити пароль</a>
        {% if user.is_superuser %}
          <a class="dropdown-item" href="{% url 'insurance_app:admin_page' %}">Компанії (адмін) </a>
          <a class="dropdown-item" href="{% url 'insurance_app:admin_page_contract' %}">Договори (адмін) </a>
        {% endif %}
        <a class="dropdown-item" href="{% url 'insurance_app:logout' %}">Вийти</a>
        </div>
      </div>
    </li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'insurance_app:login_user' %}">Увійти</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'insurance_app:register' %}">Реєстрація</a></li>
    {% endif %}
  </ul>

  </div>

</nav>
<body>
    <div class="container-div">
          {% block content %}
          {% endblock content %}
          {% block login %}
          {% endblock login %}
    </div>
    <footer class="footer">
      <div class="footer-text">Страхування</div>
    </footer>

</body>
</html>